<h2 class="display-4 text-center mb-5">All our users</h2>
<table class="w-100 table">
    <thead>
        <tr>
            <th class="text-center">Avatar</th>
            <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td class="text-center">
                <img src="{{user.avatar}}" alt="Profile {{user.id}}">
            </td>
            <td class="text-center">
                {{user.id}}
            </td>
            <td class="text-center">
                {{user.first_name}} {{user.last_name}}
            </td>
            <td class="text-center">
                {{user.email}}
            </td>
            <td>
                <button class="btn btn-outline-success" (click)="navigate(user.id)">Manage</button>
            </td>
        </tr>
    </tbody>
</table>